@import "tailwindcss";

@keyframes blurIn {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.animate-blur-in {
  animation: blurIn 1s ease-in-out;
}

.button {
  @apply border border-zinc-300 rounded-full text-zinc-400 hover:bg-red-500 cursor-pointer hover:border-none hover:text-white shadow;
}

.click {
  @apply hover:scale-102 duration-200 ease-in-out;
}
